*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f8ffe8+0,e3f5ab+33,b7df2d+100;Green+3D+%234 */
    background: #f8ffe8; /* Old browsers */
    background: -moz-linear-gradient(left,  #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=1 ); /* IE6-9 */
    
    font-family: 'Manrope', sans-serif;;
    font-size: large;
    font-weight: bold;
}

.navbar-brand img{
    padding: auto;
    width: 90px;
    height: 55px;
    padding-left: 10px;
}

img{
    width: 1000px;
    height: auto;
    display: block;
    margin: auto;
}

h2{
    text-align: center;
    padding: 50px;
    font-size: 30px;
}

p{
    padding: 10px;
    margin: 1rem;
    width: auto;
    
}

footer{
    background-color: grey;
    bottom: 0%;
    font-size: 10px;
    text-align: end;
}

footer div p{
    width: auto;
    height: 50px;
    padding: 20px;
    margin-left: 200px;
    padding-bottom: 50px;
}

div img{
   
    width: 250px;
    height: auto;
    border-radius: 10%;
    margin: auto;
    padding: 10px;
    display:inline ;

}

.titulo .contacto{
    text-align: center;
}

.titulo .contacto .llenar{
    text-align: center;
}

fieldset{
    margin: 30px;
    margin-right: 100px;
}
form{
    margin-left: 110px;
}

.login{
    text-align:center;
}

table{

    text-align: center; 
    margin: 0% auto;   
}

.productos{
    text-align: center;
}

.quienes{
    text-align: center;
}

.card{
    width: auto;
}

.row{
    padding: 12px;
}

.color2{
   color: aliceblue;
}
h5{
    color: aquamarine;
    font-weight: bold;
}

.btn:hover{
    color:white;
    background-color: rgb(23, 69, 156);
    transform: scale(1.1);
    border: none;
}

h1{
    font-weight: bold;
    font-size: 2rem;
}

.card-text{
    padding: 1px;
    margin-top: 0%;
}

.nav-link:hover{
    background-color: rgb(167, 163, 163);
    border-radius: 10px;
}

article{
    padding: 20px;
}
